body{
	text-align: center;
		background: linear-gradient(#60ebeb 0%, #27ae60 100%);
}

.h1_head {
	font-size: 20px;
	padding: 6px 22px;
	border-radius: 10px;
	margin-bottom: 15px;
	width: 100%;
	display: inline-block;
}

#hobby1 {
	text-align: left;
}

#h1Project_id {
	padding-bottom: 10px;
}

.h1_head {
	font-size: 20px;
	padding: 6px 22px;
	border-radius: 10px;
	margin-bottom: 15px;
    margin-top: 15px;
	width: 100%;
	display: inline-block;
    text-align: center;
}

.h2_head {
	font-size: 20px;
	padding: 6px 22px;
	border-radius: 10px;
	margin-bottom: 15px;
	width: 100%;
	display: inline-block;
}

#hobby2 {
	text-align: left;
}

#h2Project_id {
	padding-bottom: 10px;
}

.h2_head {
	font-size: 20px;
	padding: 6px 22px;
	border-radius: 10px;
	margin-bottom: 15px;
    margin-top: 15px;
	width: 100%;
	display: inline-block;
    text-align: center;
}
